<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigtechsolutions.toniclifefenix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".commons.MyFenixApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.profile.OrderShowActivity"></activity>
        <activity android:name=".ui.profile.MyOrdersActivity" />
        <activity android:name=".ui.NewDistributorActivity" />
        <activity android:name=".ui.WaitingActivity" />
        <activity android:name=".ui.shoppingcart.StripePayActivity" />
        <activity android:name=".ui.shoppingcart.PaymentMethodActivity" />
        <activity android:name=".ui.shoppingcart.CheckOutActivity" />
        <activity android:name=".ui.shoppingcart.ShoppingCartActivity" />
        <activity android:name=".ui.shoppingcart.ShoppingCartAddressesActivity" />
        <activity android:name=".ui.shoppingcart.ShoppingCartBranchesActivity" />
        <activity android:name=".ui.ProductDetailActivity" />
        <activity android:name=".ui.BottomNavigationActivity" />
        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>